In [60]:
import os
import glob
import pandas as pd
import numpy as np

In [61]:
data_path = 'D:/not sure but it is the Fucking BUGggg!!/DATA FOR ADY/'

In [62]:
def read_name_file(link,format):
    txt_files = glob.glob(os.path.join(link,'*.{0}'.format(format)))
    return txt_files
paths = read_name_file('D:/not sure but it is the Fucking BUGggg!!/DATA FOR ADY/','csv')
paths[-2]

'D:/not sure but it is the Fucking BUGggg!!/DATA FOR ADY\\tổng thiệt hại.csv'

In [63]:
titles = []
for path in paths:
    file = path.split('\\')
    tittle = file[-1].replace('.csv','')
    titles.append(tittle)
titles[-2]

'tổng thiệt hại'

In [64]:
# df_change3 = pd.read_csv(paths[6])
# text = df_change3.T.iloc[0].tolist()
# txt = []
# for i in text:
#     c = i.split(' - ')
#     txt.append(c[0])
# df_change3

In [65]:
# df_change = pd.read_csv(paths[-1])
# ind = df_change.columns.tolist()[1:]
# df_change = df_change.drop('Unnamed: 0', axis=1)
# df_change = df_change.T
# df_change.columns = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
# df_change.index = ind
# df_change.to_csv('D:/not sure but it is the Fucking BUGggg!!/DATA FOR ADY/%s.csv'%titles[-1])
# df_change

In [66]:
# df_change2 = pd.read_csv(paths[7])
# ind = df_change2.columns.tolist()[1:]
# df_change2 = df_change2.drop('Unnamed: 0', axis=1)
# df_change2 = df_change2.T
# df_change2.columns = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
# df_change2.index = ind
# df_change2.to_csv('D:/not sure but it is the Fucking BUGggg!!/DATA FOR ADY/%s.csv'%titles[7])
# df_change2

In [67]:
# for i in range(len(paths[:6])):
#     dfi = pd.read_csv(paths[i])
#     ind = dfi['Unnamed: 0'].tolist()
#     dfi = dfi.drop('Unnamed: 0', axis=1)
#     dfi.index = [titles[i]]
#     dfi.to_csv('D:/not sure but it is the Fucking BUGggg!!/DATA FOR ADY/%s.csv'%titles[i])

In [68]:
data_change4 = pd.read_csv(paths[-2])
data_change4

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Tổng thiệt hại(tỷ đồng),"16,062","13,507","16,000","27,853","2,828","8,114","39,726","60,000","20,000","6,863",39962,"5,200","19,500"

In [69]:
data_change4 = pd.read_csv(paths[-2])
data_change4_col = data_change4.columns.tolist()
for i in data_change4:
    c = str(data_change4[i].to_list()[0]).replace(',','')
    data_change4[i] = c


data_change4 = data_change4.drop('Unnamed: 0', axis=1)
data_change4.index = [str(titles[-2])]

data_change4

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
tổng thiệt hại,16062,13507,16000,27853,2828,8114,39726,60000,20000,6863,39962,5200,19500

In [70]:
data_change4.to_csv('D:/not sure but it is the Fucking BUGggg!!/DATA FOR ADY/%s.csv'%titles[-2])