READ HTML TO CSV

In [63]:
import glob
import pandas as pd
import os
import numpy as np

In [64]:
def read_name_file(link,format):
    txt_files = glob.glob(os.path.join(link,'*.{0}'.format(format)))
    return txt_files

In [65]:
def webscraping(link):
    file_html = link   
    with open(file_html,mode = 'r',encoding='utf-8-sig' ) as file:
        html = file.read()
    title = []
    row = []
    column = []
    value = []
    for i in html.split("\n"):
        if i.startswith('<TITLE>'):
            title.append(i.split('>')[1].split('<')[0])
        if i.startswith('<TH VALIGN COLSPAN=1>'):
            column.append(i.split('>')[1].split('<')[0])
        if i.startswith('<TH ALIGN=LEFT VALIGN=TOP>'):
            row.append(i.split('>')[1].split('<')[0])
        if i.startswith('<TD>'):
            value.append(i.split('>')[1].split('<')[0])   
    return title,row,column,value

In [66]:
def to_df(row,column,value):
    datas = []
    data = []
    df = pd.DataFrame(columns=column, index=row)
    for i in value:
        data.append(i)
        if len(data) == len(column):
            datas.append(data)
            data = []
    for i, row_data in enumerate(datas):
        df.loc[row[i]] = row_data
    return df

In [67]:
def save_to_csv(df,title,link):
    df.to_csv('{0}{1}.csv'.format(link,str(title)),encoding='utf-8-sig',index=True) 
    return

In [68]:
a = read_name_file('E:/Learn_python/Project ADY/','html')
for i in a:
    title,row,column,value = webscraping(i)
    for i in range(len(value)):
        value[i] = value[i].replace('.','').replace(',','.')           
    df = to_df(row,column,value)
    title = str(title[0]).replace("*",'')
    print(df) 
    save_to_csv(df,title,f'E:/Learn_python/Project ADY/file csv/')

                2010    2011    2012    2013    2014   2015   2016    2017  \
CHỈ SỐ CHUNG  112.63  118.43  103.43  105.25  103.26  99.42  99.39  102.82

                2018    2019   2020    2021    2022
CHỈ SỐ CHUNG  103.09  101.25  99.40  102.91  104.24
                2012    2013    2014    2015    2016    2017    2018    2019  \
CHỈ SỐ CHUNG  103.53  103.05  102.98  101.28  102.38  103.63  103.00  103.06

               2020    2021    2022
CHỈ SỐ CHUNG  99.27  100.95  103.73
         2010    2011   2012    2013    2014   2015    2016   2017    2018  \
Ngành  114.40  131.60  97.87  100.57  104.62  99.72  101.71  99.92  101.98

         2019    2020    2021    2022
Ngành  101.31  108.79  102.12  103.89
                  2010    2011    2012    2013    2014    2015    2016  \
Năm trước =100  109.19  118.58  109.21  106.60  104.09  100.63  102.66

                  2017    2018    2019    2020    2021    2022
Năm trước =100  103.53  103.54  102.79  103.23  101.84  103.15
             2011      2012      2013      2014      2015      2016      2017  \
CẢ NƯỚC  87860.40  88809.30  89759.50  90728.90  91713.30  92695.10  93671.60

             2018      2019      2020      2021      2022
CẢ NƯỚC  94666.00  96484.00  97582.69  98506.19  99461.71
             2010      2011      2012      2013      2014      2015      2016  \
CẢ NƯỚC  50473.50  51594.30  52616.60  53549.30  54040.70  54266.00  54482.80

             2017      2018      2019      2020      2021      2022
CẢ NƯỚC  54819.60  55388.00  55767.40  54842.94  50560.50  51704.88
                                                          2010        2011  \
Tổng sản phẩm trong nước theo giá hiện hành  - ...  2739843.17  3539881.31
Tích luỹ tài sản theo giá hiện hành - Tỷ đồng       1016456.50  1145900.06
Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng    1885502.40  2352796.83
Xuất khẩu hàng hoá và dịch vụ theo giá hiện hàn...  1484333.22  2165704.90
Nhập khẩu hàng hoá và dịch vụ theo giá hiện hàn...  1638476.67  2268370.89

                                                          2012        2013  \
Tổng sản phẩm trong nước theo giá hiện hành  - ...  4073762.29  4473655.60
Tích luỹ tài sản theo giá hiện hành - Tỷ đồng       1244912.82  1351621.25
Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng    2694746.28  3033143.59
Xuất khẩu hàng hoá và dịch vụ theo giá hiện hàn...  2585776.82  2988421.89
Nhập khẩu hàng hoá và dịch vụ theo giá hiện hàn...  2434080.78  2865193.39

                                                          2014        2015  \
Tổng sản phẩm trong nước theo giá hiện hành  - ...  4937031.68  5191323.73
Tích luỹ tài sản theo giá hiện hành - Tỷ đồng       1495378.85  1666877.77
Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng    3324329.03  3633279.88
Xuất khẩu hàng hoá và dịch vụ theo giá hiện hàn...  3436103.74  3785661.31
Nhập khẩu hàng hoá và dịch vụ theo giá hiện hàn...  3249156.60  3737305.40

                                                          2016        2017  \
Tổng sản phẩm trong nước theo giá hiện hành  - ...  5639401.00  6293904.55
Tích luỹ tài sản theo giá hiện hành - Tỷ đồng       1789073.97  2033264.80
Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng    3898821.37  4288217.21
Xuất khẩu hàng hoá và dịch vụ theo giá hiện hàn...  4179207.04  5146055.08
Nhập khẩu hàng hoá và dịch vụ theo giá hiện hàn...  4021018.20  4985877.73

                                                          2018        2019  \
Tổng sản phẩm trong nước theo giá hiện hành  - ...  7009042.13  7707200.29
Tích luỹ tài sản theo giá hiện hành - Tỷ đồng       2244260.45  2464759.62
Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng    4683636.75  5118113.29
Xuất khẩu hàng hoá và dịch vụ theo giá hiện hàn...  5917275.60  6563265.82
Nhập khẩu hàng hoá và dịch vụ theo giá hiện hàn...  5624089.10  6130817.91

                                                          2020        2021  \
Tổng sản phẩm trong nước theo giá hiện hành  - ...  8044385.73  8479666.50
Tích luỹ tài sản theo giá hiện hành - Tỷ đồng       2567421.08  2837931.42
Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng    5264719.70  5515650.50
Xuất khẩu hàng hoá và dịch vụ theo giá hiện hàn...  6787981.23  7907491.92
Nhập khẩu hàng hoá và dịch vụ theo giá hiện hàn...  6344145.66  7901059.55

                                                          2022
Tổng sản phẩm trong nước theo giá hiện hành  - ...  9513327.03
Tích luỹ tài sản theo giá hiện hành - Tỷ đồng       3178082.29
Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng    6081072.37
Xuất khẩu hàng hoá và dịch vụ theo giá hiện hàn...  8941230.62
Nhập khẩu hàng hoá và dịch vụ theo giá hiện hàn...  8727870.44
     Nông, lâm nghiệp và thuỷ sản Công nghiệp và xây dựng Dịch vụ  \
2010                        15.38                   33.02   40.63
2011                        16.26                   34.58   38.91
2012                        16.20                   35.86   39.12
2013                        15.22                   35.58   40.54
2014                        14.88                   35.30   40.92
2015                        14.47                   34.27   42.19
2016                        13.82                   34.12   42.85
2017                        12.93                   35.39   42.58
2018                        12.31                   36.54   42.17
2019                        11.78                   36.80   42.47
2020                        12.66                   36.74   41.83
2021                        12.56                   37.48   41.21
2022                        11.88                   38.26   41.33

     Thuế sản phẩm trừ trợ cấp sản phẩm
2010                              10.97
2011                              10.25
2012                               8.82
2013                               8.67
2014                               8.90
2015                               9.07
2016                               9.21
2017                               9.10
2018                               8.98
2019                               8.94
2020                               8.77
2021                               8.75
2022                               8.53
     Tổng số vốn thực hiện (Triệu đô la Mỹ)
2010                               11000.30
2011                               11000.10
2012                               10046.60
2013                               11500.00
2014                               12500.00
2015                               14500.00
2016                               15800.00
2017                               17500.00
2018                               19100.00
2019                               20380.00
2020                               19980.00
2021                               19740.00
2022                               22396.00

TO DATABASE

In [69]:
import mysql.connector

host = "127.0.0.1"
user = "root"
password = "khanhuyen1410"


conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
)

if conn.is_connected():
    print("Kết nối đến MySQL thành công!")

cur = conn.cursor()

Kết nối đến MySQL thành công!

In [70]:
cur.execute("CREATE DATABASE ADYprojet3")
cur.execute("USE ADYprojet3")

In [71]:
def read_csv(link):
    df = pd.read_csv(link)
    return df

In [72]:
def create_table(name_table,name_column):
    list_column = []
    list_column.append(str(name_column[0]).replace(': 0',''))
    column = str(name_column[0]).replace(': 0','') + ' NVARCHAR(255),'

    for i in name_column[1:]:
        try:
            b = int(i)
            b = 'year_' + str(i)
            list_column.append(b)
            c = (b + ' FLOAT,')
            
        except:
            a = str(i).replace('(',' ').replace(')',' ').replace(',','_').replace(' ','_')
            list_column.append(a)
            c = (a + ' FLOAT,')
        column += c
    table = """CREATE TABLE {0}({1});""".format(name_table,column)
    return table.replace(',);',');'),list_column

In [73]:
def insert_value(name_table,df,name_column,list_column):
    values = []
    data_insert = []
    list_col = ''
    for i in list_column:
        list_col += str(i)+','
    list_col = list(list_col)
    list_col[-1] = ''
    list_col = ''.join(list_col)
    
    for i in name_column:
        values.append(list(df[i]))
    for i in range(len(values[0])):
        values[0][i] = "N'{0}'".format(values[0][i])
    print(values)
    data_np = np.array(values)
    transpose = np.transpose(data_np)
    for i in transpose:
        a = '''INSERT INTO {0} ({1})  VALUES ('''.format(name_table,list_col)
        for j in i:
            a += (str(j).replace(',','.') + ',')
        data_insert.append((a+');').replace(',);',');'))
    return data_insert

In [74]:
a = read_name_file('E:/Learn_python/Project ADY/file csv','csv')
count = 0
for i in a:
    df = read_csv(i)
    num_col= df.shape[1]
    name_column = list(df.iloc[0:0,0:(num_col)])
    table= create_table('a' + str(count),name_column)
    cur.execute(table[0])
    values = insert_value('a' +str(count),df,name_column,table[1])
    print(value)
    for i in values:
        cur.execute(i)
    count += 1

[["N'CHỈ SỐ CHUNG'"], [112.63], [118.43], [103.43], [105.25], [103.26], [99.42], [99.39], [102.82], [103.09], [101.25], [99.4], [102.91], [104.24]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'CHỈ SỐ CHUNG'"], [103.53], [103.05], [102.98], [101.28], [102.38], [103.63], [103.0], [103.06], [99.27], [100.95], [103.73]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'Ngành'"], [114.4], [131.6], [97.87], [100.57], [104.62], [99.72], [101.71], [99.92], [101.98], [101.31], [108.79], [102.12], [103.89]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'Năm trước =100'"], [109.19], [118.58], [109.21], [106.6], [104.09], [100.63], [102.66], [103.53], [103.54], [102.79], [103.23], [101.84], [103.15]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'Chỉ số phát triển (WDI)'"], [18612.91667], [20509.75], [20828], [20933.41667], [21148], [21697.5675], [21935.00083], [22370.08667], [22602.05], [23050.24167], [23208.36833], [23159.78259], [23271.2125]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'CẢ NƯỚC'"], [87860.4], [88809.3], [89759.5], [90728.9], [91713.3], [92695.1], [93671.6], [94666.0], [96484.0], [97582.69], [98506.19], [99461.71]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'CẢ NƯỚC'"], [50473.5], [51594.3], [52616.6], [53549.3], [54040.7], [54266.0], [54482.8], [54819.6], [55388.0], [55767.4], [54842.94], [50560.5], [51704.88]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'Tổng sản phẩm trong nước theo giá hiện hành  - Tỷ đồng'", "N'Tích luỹ tài sản theo giá hiện hành - Tỷ đồng'", "N'Tiêu dùng cuối cùng theo giá hiện hành - Tỷ đồng'", "N'Xuất khẩu hàng hoá và dịch vụ theo giá hiện hành - Tỷ đồng'", "N'Nhập khẩu hàng hoá và dịch vụ theo giá hiện hành - Tỷ đồng'"], [2739843.17, 1016456.5, 1885502.4, 1484333.22, 1638476.67], [3539881.31, 1145900.06, 2352796.83, 2165704.9, 2268370.89], [4073762.29, 1244912.82, 2694746.28, 2585776.82, 2434080.78], [4473655.6, 1351621.25, 3033143.59, 2988421.89, 2865193.39], [4937031.68, 1495378.85, 3324329.03, 3436103.74, 3249156.6], [5191323.73, 1666877.77, 3633279.88, 3785661.31, 3737305.4], [5639401.0, 1789073.97, 3898821.37, 4179207.04, 4021018.2], [6293904.55, 2033264.8, 4288217.21, 5146055.08, 4985877.73], [7009042.13, 2244260.45, 4683636.75, 5917275.6, 5624089.1], [7707200.29, 2464759.62, 5118113.29, 6563265.82, 6130817.91], [8044385.73, 2567421.08, 5264719.7, 6787981.23, 6344145.66], [8479666.5, 2837931.42, 5515650.5, 7907491.92, 7901059.55], [9513327.03, 3178082.29, 6081072.37, 8941230.62, 8727870.44]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'2010'", "N'2011'", "N'2012'", "N'2013'", "N'2014'", "N'2015'", "N'2016'", "N'2017'", "N'2018'", "N'2019'", "N'2020'", "N'2021'", "N'2022'"], [15.38, 16.26, 16.2, 15.22, 14.88, 14.47, 13.82, 12.93, 12.31, 11.78, 12.66, 12.56, 11.88], [33.02, 34.58, 35.86, 35.58, 35.3, 34.27, 34.12, 35.39, 36.54, 36.8, 36.74, 37.48, 38.26], [40.63, 38.91, 39.12, 40.54, 40.92, 42.19, 42.85, 42.58, 42.17, 42.47, 41.83, 41.21, 41.33], [10.97, 10.25, 8.82, 8.67, 8.9, 9.07, 9.21, 9.1, 8.98, 8.94, 8.77, 8.75, 8.53]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'Tổng thiệt hại(tỷ đồng)'"], [16062], [13507], [16000], [27853], [2828], [8114], [39726], [60000], [20000], [6863], [39962], [5200], [19500]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']
[["N'2010'", "N'2011'", "N'2012'", "N'2013'", "N'2014'", "N'2015'", "N'2016'", "N'2017'", "N'2018'", "N'2019'", "N'2020'", "N'2021'", "N'2022'"], [11000.3, 11000.1, 10046.6, 11500.0, 12500.0, 14500.0, 15800.0, 17500.0, 19100.0, 20380.0, 19980.0, 19740.0, 22396.0]]
['11000.30', '11000.10', '10046.60', '11500.00', '12500.00', '14500.00', '15800.00', '17500.00', '19100.00', '20380.00', '19980.00', '19740.00', '22396.00']